.container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.container input{
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 10px;
}
.container button{
    border-radius: 5px;
    background-color: black;
    margin: 0 5px;
    color: white;
    border:1px solid black;
    font-weight: 600;
    font-size: 15px;
}
.container button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}